The following vendor dependencies have been updated.

| Vendor | Change |
|---|---|
{% for item in deps -%}
| {{ item.name }} | {{ item.old_version }} -> {{ item.new_version }} |
{% endfor %}

- [ ] This PR has been deployed and tested to the robot to confirm functionality?